/*------------------------------------------------------------------
[Table of contents]

1. First div and Nav Bar
2. Chapter title centering style
3. Custom spacings
4. Icon custom styles
5. Shadow effects
6. Sticky
7. Custom Fonts
8. Custom background
9. Footer div
10. Back to top
11. Custom Media Queries
12. Skills diagram
13. Fixes and customizations
14. Contact form
15. Timeline

-------------------------------------------------------------------*/

/*###################################
##  1. $First div and Nav Bar       ##
##################################### */

.contain-to-grid {
	background: #262b37;
}

nav.tab-bar {
	background: rgb(38,43,55);
}

.desktop-hidden {
	visibility: hidden;
	display: none;
}

/** Changes background color, height and margin of the border **/
.top-bar {
    background: none;
    height: 61px;
    line-height: 58px;
    margin-bottom: 0;
}
/** Removes black background on menu bar **/
.top-bar-section ul {
    background: none;
    text-transform: uppercase;
}
/** Removes black background on menu item **/
.top-bar-section li a:not(.button) {
    background: none;
    line-height: 58px;
    padding: 0 27px;
}

.top-bar-section ul li.active {
	background: #454e64;
	border-top: 3px solid white;
}

/** Changes the active menu item from default black to a gradient **/
	.top-bar-section ul li.active > a {
    	background:  rgb(0, 0, 0);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 transparent;
		color: #fff;
	}

		.top-bar-section ul li.active>a:hover {
			background: #454e64;
			border-top: 0px solid #454e64;
		}

/** Changes the hover state of non active menu items **/
.top-bar-section li:hover a {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 transparent;
    color: #fff;
}
/** Changes non active menu items text color to black **/
.top-bar-section ul li > a {
    color: #c3c8d6;
}
/** Changes the hover state of dropdown menu items **/
.top-bar-section ul.dropdown li a:hover:not(.button) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}
/** IMPORTANT fill for the ul dropdown container **/
.top-bar-section ul.dropdown {
    background: #333;
    color: #fff;
}
/** This fixes the position and the color of the dropdown arrow **/
.top-bar-section .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 1) transparent transparent;
    margin-top: 2.5px;
}

.top-bar.expanded .title-area {
	background: transparent;
}

.top-bar-section ul li:hover>a {
	background: #454e64;
	border-top: 3px solid #454e64;
	color: #fff;
	/*font-weight: bold; removed bold to avoid css jitter*/
}

.bgwidth {
	width: 100%;
}

.firstWrapper {
	height:80%; 
	text-align:center; 
	vertical-align:middle;
	margin: 0 auto;
}

.firstDiv {
	background-color: transparent;
	width: 100%;
	height: 70%;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin-top: 0;
	margin-bottom: 0;
	/*max-width: 70em;*/
	text-align:center;
}

.firstDivUnder {
	height: 100%;
	overflow: hidden;	
	vertical-align: middle;
	text-align: center;
	background: #6f6f6f; /* original #1b1f2b*/
}

	.firstDivUnder img {
		opacity: 0.2;
	}
	
.bannerText {
	position: absolute;
	left: 0;
	right: 0;
	top: 7%;
	text-align: center;
	padding: 30px 0 30px;
	max-width: 960px;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000);
	zoom: 1;
}

.container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle !important;
}

.smallSpace {
	padding-left: 25px;
	vertical-align: middle;
}

.microSpace {
	padding-left: 5px;
	vertical-align: middle;
}

.darkBlueDiv {
	/*background: url("../img/bg11.jpg") no-repeat center top transparent;*/
	background-color: rgb(0,61,125);
	background-color: rgba(0,61,125,0.8);
	width: 100%;
	/*height:945px;
	background-attachment: fixed;
	background-size: 1920px 666px;
	padding-bottom: 3%;*/
}

.lightBlueDiv {
	background-color: rgb(1,193,255);
	background-color: rgba(1,193,255,0.8);
	width: 100%;
	padding-bottom: 3%;
}

.contactBorderDiv {
	width: 100%;
	height: 4px;
	background: url('../img/contactBorder.png') repeat-x 0 100%;
}

.expDiv {
	background-color: white;
	width: 100%;
	padding-bottom: 2%;
}

	.expDiv ul {
		/*text-align: center;*/
		list-style: none;
		font-size: large;
		color: #474d5d;
		margin: 0 auto;
	}
	
.bigBorder {
	border-left: 8px solid #ff675f;
}

.skills h4, .skills p {
	color: #474d5d;
}

	.skills h4 {
		text-transform: capitalize;
		font-weight: 700;
	}

/*###################################
##  2. Chapter title centering style ##
##################################### */

	.header img {
  		float: left;
  		width: auto;
  		height: auto;
  		vertical-align: middle;
}

	.header h2 {
 		position: relative; 
  		height:140px; 
  		text-align: center;	
		top: 40px; left: 0; bottom: 0; right: 0;
}

/*###################################
##  3. Custom spacings ##
##################################### */

.center {
	text-align: center;
}

.customSpacing {	
	padding: 17px; 
}

.noPadding {
	padding: 0px;
}

.customFirstHeadTitlesSpacing {
	padding-top: 47px;
}

.customHeadTitlesSpacing {
	padding-top: 29px;
}

.customElementLeftPadding {
	padding-left: 20px;
}

.extra-padding {
	padding-top: 1%;
	padding-bottom: 1%;
}

.nice-padding {
	padding: 4% 0;
}

.row {
	max-width: 70em;
}

.h-titles-to-margin {
	padding: 0 2px;
}

.imgCircle {
	border-radius: 50%;
	padding-top: 5.5%;
}

.skillsRP {
	padding-top: 0.9375rem;
	padding-bottom: 0.9375rem;
}

/*###################################
##  4. Icon custom styles ##
##################################### */

.intro .icon {
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	height: 100px;
	width: 100px;
	background: #2ba6cb;
	float: left;
	display: inline;
	margin: 0 20px 20px 0;
}

	.icon:hover {
		background-color:#F74902;
}

/*###################################
##  5. Shadow effects              ##
##################################### */

.shadow {
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
}

.bearlyShadow {
	box-shadow: 3px 3px 2px #888888;
	-webkit-box-shadow: 3px 3px 2px #888888;
	-moz-box-shadow: 3px 3px 2px #888888;
}

.thumbIcon:hover, .thumbIcon:focus {
	-webkit-box-shadow: 0 0 6px 1px rgba(254, 250, 188, 0.5);
	box-shadow: 0 0 6px 1px rgba(254, 250, 188, 0.5);
}

/*###################################
##  6. Sticky div ##
##################################### */

.stickyPadding {
	padding-top:45px;
}


/*###################################
##  7. Custom fonts ##
##################################### */

/*
@font-face {
    font-family: 'aaarghnormal';
    src: url('../aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('../aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
         url('../aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
         url('../aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebasregular';
    src: url('../bebas_regular_macroman/BEBAS___-webfont.eot');
    src: url('../bebas_regular_macroman/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bebas_regular_macroman/BEBAS___-webfont.woff') format('woff'),
         url('../bebas_regular_macroman/BEBAS___-webfont.ttf') format('truetype'),
         url('../bebas_regular_macroman/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(http://themes.googleusercontent.com/static/fonts/sintony/v1/cu1c4tOdDXpghDFFDdv7MgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 700;
  src: local('Sintony Bold'), local('Sintony-Bold'), url(http://themes.googleusercontent.com/static/fonts/sintony/v1/TiXPkS2VjL9yF_daQZv9Ir3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/averagesans/v1/dnU3R-5A_43y5bIyLztPsaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/PIbvSEyHEdL91QLOQRnZ16RDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/ByLA_FLEa-16SpQuTcQn4LrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/9Z3uUWMRR7crzm1TjRicDhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight:400;
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight:400;
	text-rendering: optimizeLegibility;
}

.whiteTextColor {
	color: white;
}

.orangeTextColor {
	color: #ff675f;
	font-style: italic;
}

.niceBlueTextColor {
	color: #262b37;
}

.blackTextColor {
	color: black;
}

/*###################################
##  8. Custom background & colors    ##
##################################### */

body {
	background: url("../img/white_carbon.png") repeat scroll 0% 0% transparent;
}

.panelSpecialColor {
	background: none repeat scroll 0% 0% rgb(254, 250, 188);
	
}

.panelPunch {
	background: #f2f2f2;
	background: rgba(242,242,242,0.5);
}

.panel {
	border-style: none;
}

/*###################################
##  9. $Footer div                 ##
##################################### */

.footerDiv {
	padding:37px;
	background-color: rgb(71,77,93);
	background-color: rgba(71,77,93,0.8);
	width: 100%;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin-top: 0;
	margin-bottom: 0;
	/*max-width: 70em;*/
	text-align:center;
	
	/* Experiment with border-color rgb color is for IE */
	border-color: rgb(71,77,93);
	border-color: rgba(71,77,93,0.1);
	border-width: 4px;
	border-style:solid;
	
}

.footerDivUnder {
	background: url("../img/white_carbon.png") repeat scroll 0% 0% transparent;	
}

	.footerDiv p.colorWhite {
		color:rgb(255, 255, 255);
	}
	
		.footerDiv a {
			color:rgb(255, 255, 255);
		}
		
			.footerDiv a:hover{
				color: rgb(119, 119, 119);
			}

.bottomFooter {
	
	background: none repeat scroll 0% 0% rgb(38,43,55);
	padding: 24px 0px 10px;
	width: 100%;
}

	.bottomFooter p.copyright {
		margin: 6px 0px 0px;
		font-size: 12px;
		color: rgb(102, 102, 102);
	}
	
	.bottomFooter li a {
		padding: 3px 6px;
		color: rgb(102, 102, 102);
	}
	
		.bottomFooter li a:hover{
			color: rgb(119, 119, 119);
		}

/*###################################
##  10.  $Back to top               ##
##################################### */

.backtotop {
	position: fixed;
	bottom: 10px;
	right: 15px;
}

	.backtotop a {
		width: 40px;
		display: block;
		text-align: center;
		font: 11px/30% 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #bbb;

		/* transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}

	/* arrow icon (span tag) */
	.backtotop span {
		width: 40px;
		height: 40px;
		display: block;
		margin-bottom: 7px;
		background: rgb(255,103,95) url("../img/up-arrow2.png") no-repeat center center;
		background: rgba(255,103,95,0.3) url("../img/up-arrow2.png") no-repeat center center;

		/* rounded corners */
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;

		/* transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
		.backtotop span:hover {
			background-color: rgb(255,103,95);
			background-color: rgba(255,103,95,0.9);
		}

/*###################################
##  11 Skills diagram                ##
##################################### */

.chart {
  position: relative;
  display: inline-block;
  width: 152px;
  height: 152px;
  margin-bottom: 26px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 152px;
}

.skillBg {
	background: url('../img/skills.png') no-repeat 0 0;
}

.percent {
	display: inline-block;
	font-size: 21px;
	color: #474d5d;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
input {
  display: block;
  margin: auto;
  margin-bottom: 3em;
}
  
/*###################################
##  12. Fixes and customizations    ##
#####################################*/  
 
nav.top-bar {
	text-align:center;
}

section.top-bar-section {
	display: inline-block;
}

.top-bar-section ul li {
	margin: 0 8px;
}

	.top-bar-section ul li>a {
		font-size: 16px;
		font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-style: normal;
		font-weight: lighter;
	}

.inline-list {
	text-align: center;
}
	
	.inline-list>li {
		float: none;
		display: inline-block;
	}

.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame, .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
	border: 0 !important;
}
	
.vco-storyjs img {
	border: none !important;
}
 
img {
	border: none !important;
}

.orbit-container .orbit-slide-number {
	color: #6f6f6f;
	font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgba(0,0,0,0);
}

	.orbit-container .orbit-slides-container>* .orbit-caption {
		background-color: rgba(51,51,51,0.5);
		font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

/*###################################
##  13. $Contact Form              ##
##################################### */

.button {
	font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: rgb(1,193,255);
	border-color: rgb(1,193,255);
	font-size: 1.5rem;
}

	.button:hover, .button:focus {
		background: #61B329;
	}

textarea {
	min-height: 169px;
}

fieldset {
	border: none;
}

span.success, small.success {
	display: block;
	padding: 0.375rem 0.5625rem 0.5625rem;
	margin-top: -1px;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: italic;
	background: #61B329;
	color: #fff;
	font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.error, small.error {
	font-size: 1.25rem;
	font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*###################################
##  14. $Timeline                   ##
##################################### */

.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 800px;
		height: 350px;
		overflow: hidden;
		margin-top: 20px;
		margin-left: auto;
		margin-bottom: 0;
		margin-right: auto;
		position: relative;
		background: url('../img/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 24px;
				text-align: center;
				background: url('../img/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
					padding-bottom: 10px;
					color: rgb(1,193,255);
				}
				#dates .selected {
					font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
			        font-size: 38px;
				}
		
		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: rgb(0,61,125);
					font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        
			}
			#grad_right {
		        right: 0;
		        
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../img/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../img/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
				
/*###################################
##  15 Custom =media queries       ##
##################################### */
		
/* // Small screens */
@media only screen and (min-width: 20em) and (max-width: 35.500em) { 
	
	
	.firstDivUnder {
		height: auto;
		width: 100%;
		overflow: hidden;	
		vertical-align: middle;
		text-align: center;
		background: #6f6f6f;
	}	
	
	.firstDiv {
		margin:0;
		height: auto;
	}
	
	.image-adjuster {
		padding: 5% 0;
	}
	
	.transparent-div {
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
	}
		
	.bannerText {
		top: 0.5%;
		padding: 3px 0 3px;
		zoom: 0.6;
	}
	
	.stickyPadding {
		padding-top: 5px;
	}
	
	.top-bar-section ul li.active {
		background: #454e64;
		border-top: 3px solid transparent;
	}
	
	#timeline {
		width: 200px;
	}
	
} /* Define mobile styles */

@media only screen and (min-width: 35.563em) and (max-width: 40em) {  
	
	.firstDivUnder {
		height: auto;
		width: 100%;
		height: 70%;
		overflow: hidden;	
		vertical-align: middle;
		text-align: center;
		background: #6f6f6f;
	}	
	
	.firstDiv {
		margin:0;
		height: auto;
	}
	
	.image-adjuster {
		padding: 5% 0;
	}
	
	.transparent-div {
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
	}
		
	.bannerText {
		top: 1%;
		padding: 3px 0 3px;
	}
	
	.stickyPadding {
		padding-top: 5px;
	}
	
	.panel {
		display: none;
	}
	
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* // Medium screens */
@media only screen and (min-width: 40.063em) { 

	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 10px;
		line-height: 58px;
		background: #262b37;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background: transparent;
	}
	
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 	
	
	.image-adjuster {
		padding: 5% 0;
	}
	
	.transparent-div {
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
	}
	
	.firstDivUnder {
		height: 100%;
		overflow: hidden;	
		vertical-align: middle;
		text-align: center;
		background: #6f6f6f;
	}
	
	.bannerText {
		top: 2%;
		padding: 15px 0 15px;
	}
	
	.panel {
		width: 30%;
		margin: 0 auto;
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (max-width:1024px) {
	
	.tablet-hidden{
		visibility: hidden;
		display: none;
	}
	
	.padding-mobile {
		padding: 15px !important;
	}
	
	.customHeadTitlesSpacing {
		padding-top: 4px;	
		padding-bottom: 4px;
	}
	
	.smallSpace {
		padding-left: 4px;
	}
	
	.mobile-hidden {
		visibility: hidden;
		display: none;
	}
}

@media only screen and (max-width:800px) { 

	#timeline {
		width: 660px;
	}
	
	#issues li p {
		width: 640px;	
	}
	
	#issues li img {
		display: none; 
	}
}

@media only screen and (max-width:640px) {
	
	.top-bar {
		margin-bottom: 0;
		visibility: hidden;
		display: none;
	}
	
	.f-topbar-fixed {
		padding-top: 0 !important;
	}
	
	.desktop-hidden {
		visibility: visible;
		display: block;
	}
	
	.mobile-hidden {
		visibility: hidden;
		display: none;
	}
	
	#timeline {
		width: 400px;
	}
	
	#issues li img {
		display: none; 
	}
	
	#issues li p {
		width: 380px;
		
	}
}

@media only screen and (min-width:641px) {
	
	.desktop-hidden {
		visibility: hidden;
		display: none;
	}
}

@media only screen and (max-width: 321px) { 
	
	#timeline {
		width: 220px;
	}
	
	#issues li img {
		display: none; 
	}
	
	#issues li p {
		width: 220px;
		
	}
	
	
} /* Define mobile styles */

/* // Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* // XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* // XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */