@font-face {
    font-family: 'montserratultra_light';
    src: url('fonts/montserrat-ultralight.woff2') format('woff2'),
         url('fonts/montserrat-ultralight.woff') format('woff'),
         url('fonts/montserrat-ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('fonts/montserrat-semibold.woff2') format('woff2'),
         url('fonts/montserrat-semibold.woff') format('woff'),
         url('fonts/montserrat-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular.woff2') format('woff2'),
         url('fonts/montserrat-regular.woff') format('woff'),
         url('fonts/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light.woff2') format('woff2'),
         url('fonts/montserrat-light.woff') format('woff'),
         url('fonts/montserrat-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrathairline';
    src: url('fonts/montserrat-hairline.woff2') format('woff2'),
         url('fonts/montserrat-hairline.woff') format('woff'),
         url('fonts/montserrat-hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratextra_bold';
    src: url('fonts/montserrat-extrabold.woff2') format('woff2'),
         url('fonts/montserrat-extrabold.woff') format('woff'),
         url('fonts/montserrat-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold.woff2') format('woff2'),
         url('fonts/montserrat-bold.woff') format('woff'),
         url('fonts/montserrat-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratblack';
    src: url('fonts/montserrat-black.woff2') format('woff2'),
         url('fonts/montserrat-black.woff') format('woff'),
         url('fonts/montserrat-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}