body {
	
}

// Font-sizes from 10 through 30 
@for $i from 10 through 30{
   .fsz#{$i} { font-size: rem-calc($i); }
}

// Margins
@for $j from 0 through 30{
   .m#{$j} { margin: rem-calc($j); }.mtb#{$j} { margin-top: rem-calc($j); margin-bottom: rem-calc($j); }.mlr#{$j} { margin-left: rem-calc($j); margin-right: rem-calc($j); }.mt#{$j} { margin-top: rem-calc($j); }.mb#{$j} { margin-bottom: rem-calc($j); }.ml#{$j} { margin-left: rem-calc($j); }.mr#{$j} { margin-right: rem-calc($j); }
}

// Paddings
@for $k from 0 through 30{
   .p#{$k} { padding: rem-calc($k); }.ptb#{$k} { padding-top: rem-calc($k); padding-bottom: rem-calc($k); }.plr#{$k} { padding-left: rem-calc($k); padding-right: rem-calc($k); }.pt#{$k} { padding-top: rem-calc($k); }.pb#{$k} { padding-bottom: rem-calc($k); }.pl#{$k} { padding-left: rem-calc($k); }.pr#{$k} { padding-right: rem-calc($k); }
}

::-moz-selection { 
	background-color: #BEF6A8; 
}

::selection {
	background-color: #BEF6A8;
}

.strong{
	font-weight: 700;
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

section {
	h3, h4, h5, h6{
		font-family: 'montserratregular';
	}
	&.hero{
		.hero-content{
			margin: 0 auto;
			text-align: center;
			position: absolute;
			top: 15%;
			left: 0;
			right: 0;
			width: 50%;
			z-index: 2;
			color: $white;
			background: rgba(0,0,0,0.69);
			padding: 0 0 rem-calc(15);
			-moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.86);
			-webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.86);
			box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.86);
			h1, h2{
				letter-spacing: rem-calc(2);
				text-align: center;
			}
			h1{
				border: 5px solid $white;
				padding: rem-calc(15);
				font:{
					family:'montserratbold', sans-serif;
					size: rem-calc(34);
				}
				margin: rem-calc(15) 0;
			}
			h2{
				font: {
					family: 'montserratlight', sans-serif;
					size: rem-calc(28);
				}
			}
			span{
				font: {
					family: 'montserratlight', sans-serif;
					size: rem-calc(42);
				}
			}
				p{
				margin: rem-calc(19) 0;
				font-size: rem-calc(23);
			}
			.b1, .b2, .b3, .b4, .b5, .b6{
				height: rem-calc(10);
				margin-bottom: rem-calc(15);
			}
			.b1{
				background-color: $ka-1;
			}
			.b2{
				background-color: $ka-2;
			}
			.b3{
				background-color: $ka-3;
			}
			.b4{
				background-color: $ka-4;
			}
			.b5{
				background-color: $ka-5;
			}
			.b6{
				background-color: $white;
			}
			.hollow{
				margin: rem-calc(15) 0;
				min-width: rem-calc(250);
				border: 2px solid $white;
				color: $white;
				&:hover{
					border: 2px solid $ka-1;
					background-color: $ka-1;
					color: $ka-5;
				}
				&:active, &:focus, &:visited{
					
				}
			}
		}
		article{
			max-width: $global-width;
			margin: 0 auto;
		}
		div{
			color: $white;
			margin: 0 auto;
		}
		&#home{
			position: relative;
		  height: rem-calc(975);
		  overflow: hidden;
		}
		#parallax-bg {
		  position: absolute;
		  width: 100%;
		  height: 100vh;
		  top: 0;
		  bottom: 0;
		  background: url('/img/hero-banner.jpg') 50% 0 no-repeat;
		  background-size: cover;
		  opacity: 1;
		}
	}
	&.resume,  &.skills, &.education, &.tools, &.portfolio, &.contact{
		padding: rem-calc(15) 0;
		h3{
			font-size: rem-calc(25);
			letter-spacing: rem-calc(2);
		}
	}
	
	&.resume{
		.objective{
			padding: rem-calc(15);
		}
		ul{
			margin-left: 0;
			li{
				list-style-type: none;
				&:before{
				  content: '\2022';
				  display: inline;
				  position: relative;
				  max-width: 0;
				  max-height: 0;
				  left: -10px;
				  top: 0;
				  color: $ka-4;
				  font-size: rem-calc(30);
				  vertical-align: middle;
				}
			}
		}
		.linkedin{
			text-align: center;
		}
	}
	&.skills{
		ul{
			margin-left: 0;
			li{
				list-style-type: none;
				&:before{
				  content: '\2022';
				  display: inline;
				  position: relative;
				  max-width: 0;
				  max-height: 0;
				  left: -10px;
				  top: 0;
				  color: $ka-3;
				  font-size: rem-calc(30);
				  vertical-align: middle;
				}
			}
		}
	}
	&.education{
		article{
			padding-top: rem-calc(15);
			padding-bottom: rem-calc(15);
			border: 1px solid red;
			.logo{
				//text-align: center;
				height: rem-calc(180);
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&.tools{
		margin-top: rem-calc(25);
		margin-bottom: rem-calc(25);
		text-align: center;
		position: relative;
		overflow: hidden;
		height: 80vh;
		-webkit-box-shadow: 0 8px 6px -6px black;
	   	 -moz-box-shadow: 0 8px 6px -6px black;
	        	box-shadow: 0 8px 6px -6px black;
	  div{
	  	padding: 0;
	  }
		img{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			opacity: 0.76;
			z-index: -1;
			-webkit-filter: url(#monochrome);
  		filter:  url(#monochrome);
  		//box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
		}
	}
	&.portfolio{
		margin-bottom: rem-calc(17);
		img{
			opacity: 0.5;
			-webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		  -ms-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;
		  -webkit-transform: scale(1); 
	    -ms-transform: scale(1); 
	    -moz-transform: scale(1);
	    transform: scale(1);
			&:hover{
				opacity: 1;
				-webkit-transform: scale(1.1); 
		    -ms-transform: scale(1.1); 
		    -moz-transform: scale(1.1);
		    transform: scale(1.1);
			}
		}
	}
	&.contact{
		background-color: $ka-3;
		color: $ka-1;
		h3, p{
			text-align: center;
		}
		p{
			margin-top: rem-calc(15);
			font-size: rem-calc(19);
		}
		form{
			max-width: $global-width;
			margin-right: auto !important;
			margin-left: auto !important;
			label{
				color: $ka-1 !important;
				font-size: rem-calc(15);
			}
			::-webkit-input-placeholder {
				color: $ka-4 !important;
				opacity: 0.7;
			} 
			:-moz-placeholder{
				color: $ka-4 !important;
				opacity: 0.7;
			} 
			::-moz-placeholder{
				color: $ka-4 !important;
				opacity: 0.7;
			} 
			:-ms-input-placeholder{
				color: $ka-4 !important;
				opacity: 0.7;
			} 
			:placeholder-shown {
				color: $ka-4 !important;
				opacity: 0.7;
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}
			.form-error{
				background-color: rgba(255,255,255,0.6);
				padding: rem-calc(10) 0 rem-calc(10) rem-calc(8);
				margin-top: rem-calc(-16);
			}
		}
		.action{
			.submit{
				float: right;
				min-width: rem-calc(250);
				background-color: $white;
				border: 2px solid $white;
				color: $ka-5;
				&:hover{
					background-color: $ka-5;
					color: $white;
					border: 2px solid $white;
				}
			}
		}
		input, textarea{
			background-color: transparent;
			border: none;
			-webkit-appearance: none;
			//-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
			//-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
			//box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: none; 
			-webkit-box-shadow: none; 
			box-shadow: none;
			-webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		  -ms-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
			&:focus{
				background-color: $ultra-white;
				outline: none !important;
    		border: 1px solid $dark-gray;
    		-moz-box-shadow: inset 0 0 rem-calc(15) $ka-3;
    		-webkit-box-shadow: inset 0 0 rem-calc(15) $ka-3;
    		box-shadow: 0 0 rem-calc(15) $ka-3;
			}
		}
		textarea{
			min-height: rem-calc(150);
		}
	}
}

footer{
	background-color: $ka-5;
	padding: rem-calc(15) 0 0 0;
	div{
		color: $white;
		max-width: $global-width;
		margin: 0 auto;
	}
	// Back to top for Desktop and tablet
	.cd-top {
	  display: inline-block;
	  height: rem-calc(48);
	  width: rem-calc(48);
	  position: fixed;
	  bottom: rem-calc(40);
	  right: rem-calc(10);
	  box-shadow: 0 0 rem-calc(10) rgba(0, 0, 0, 0.05);
	  // image replacement properties
	  overflow: hidden;
	  text-indent: 100%;
	  white-space: nowrap;
	  background: rgba(25, 52, 65, 0.8) url(/img/cd-top-arrow.svg) no-repeat center 50%;
	  visibility: hidden;
	  opacity: 0;
	  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
	  -moz-transition: opacity .3s 0s, visibility 0s .3s;
	  transition: opacity .3s 0s, visibility 0s .3s;
	}
	.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	  -moz-transition: opacity .3s 0s, visibility 0s 0s;
	  transition: opacity .3s 0s, visibility 0s 0s;
	}
	.cd-top.cd-is-visible {
	  //the button becomes visible
	  visibility: visible;
	  opacity: 1;
	}
	.cd-top.cd-fade-out {
	  //if the user keeps scrolling down, the button is out of focus and becomes less visible
	  opacity: .4;
	}
	.cd-top:hover, .no-touch .cd-top:hover {
	  background-color: $ka-5;
	  opacity: 1;
	  box-shadow: 0 0 rem-calc(10) rgba(0, 0, 0, 0.75);
	}
	.cr{
		padding-top: rem-calc(10);
		text-align: center;
		color: $ka-4;
	}
	ul{
		list-style-type: none;
		li{
			padding: rem-calc(15);
			display: block;
			text-align: center;
			a{
				color: $white;
				-webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -ms-transition: all 0.3s ease-in-out;
			  -o-transition: all 0.3s ease-in-out;
			  transition: all 0.3s ease-in-out;
				&:hover{
					color: $ka-4;
				}
			}
			&.q-links{
				font:{
					size: rem-calc(19);
					weight: bold;
					family: 'montserratsemi_bold', sans-serif;
				}
			}
		}
	}
}

@include breakpoint(xxlarge only) {
	section{
		&.hero{
			.hero-content{
				width: 50%;
			}
		}
	}
}

@include breakpoint(xlarge only) {
	section{
		&.hero{
			.hero-content{
				width: 75%;
				top: 10%;
			}
		}
	}
}

@include breakpoint(medium only) {
	section{
	}
}

@media screen and (width: 64em) and (orientation: landscape){
	nav{
		width: rem-calc(1024);
	}
	section{
		&.hero{
			.hero-content{
				width: 80%;
			}
			&#home{
				height: rem-calc(700);
			}
		}
	}
	.cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (width: 48em) and (orientation: portrait){
	nav{
		width: rem-calc(768);
	}
	section{
		&.hero{
			.hero-content{
				width: 90%;
			}
			&#home{
				height: rem-calc(800);
			}
		}
	}
	.cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@include breakpoint(small only) {
	#menu, #IN-widget{
		display: none !important;
	}
	section{
		padding: 0 rem-calc(5) !important;
		&.hero{
			margin-top: 0;
			padding: 0 !important;
			.hero-content{
				width: 95%;
				top: 5%;
				h1{
					font-size: rem-calc(24);
				}
				h2{
					font-size: rem-calc(18);
				}
				p{
					font-size: rem-calc(15);
				}
			}
			&#home{
			  height: 100vh;
			}
		}
		&.education{
			.logo{
				text-align: center;
			}
		}
		&.tools{
			margin-top: rem-calc(5);
			margin-bottom: rem-calc(5);
		}
		&.contact{
			h3, p{
				text-align: left;
			}
			.submit{
				width: 100%;
			}
		}
	}
	footer {
		&.footer{
			.back-to-top{
				text-align: center;
				margin-bottom: rem-calc(15);
				span{
					display: block;
				}
			}
		}
	}
}