/* Basic layout styling */

body {
	background-color: rgb(0,0,0);
	color: rgb(125,125,125);
}

.row {
	max-width: 186.25rem;
}

#first {
	margin-top: 3em;
}

/* Spacings and elemnts ordering */

.ptb8 {
	padding: 0.5rem 0;
}

.pt12 {
	padding: 0.75rem 0 0;
}

.prl16 {
	padding: 0 1rem;
}

.center {
	text-align: center;
}

div.menu {
	z-index: 999;
}

input.menuB {
	margin: 0 auto;
}

/* Coloring */

nav {
	background-color: rgba(255,255,255,0.85);
}

	nav a {
		color: rgb(0,0,0);
	}

div.menu {
	background-color: rgba(255,255,255,0.65);
}

/* Custom media queries */

@media only screen and (max-width: 40.063em) { 
	
	#first {
		margin-top: 4rem;
	}

	nav {
		display: none;	
	}

	nav {
		background-color: transparent;
	}
}