/* Custom styles */

/*Fonts and general styling*/

/* <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,700' rel='stylesheet' type='text/css'> */

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), 
  url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, 
  U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), 
  url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, 
  U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

p.simple {
	color: #888;
	margin: 1% 0 2% 0;
}

p.simplify { 
	color: #33CCFF;
}

p.ksimple {
	color: #99CC66;
}

p.simplify, p.ksimple {
	margin: 1% 0 1% 0;
}

p.simple, p.simplify, p.ksimple {
	font-size: 15rem;
	font-family: Arial, "Helvetica", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	font-weight: 700;
	line-height: 13rem;
	text-align: center;
	-webkit-transition: all 2.584s ease;
	-moz-transition: all 2.584s ease;
	-o-transition: all 2.584s ease;
	transition: all 2.584s ease;
}

.row {max-width: 64rem; margin: 0 auto ;}
body {font-family: 'Raleway', Arial, "Helvetica", Helvetica, sans-serif; font-weight: 300; text-rendering: optimizeLegibility;}
h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', Arial, "Helvetica", Helvetica, sans-serif; font-weight: 200; text-rendering: optimizeLegibility;}
button, .button {font-family: 'Raleway', Arial, "Helvetica", Helvetica, sans-serif;}

h1              { font-size: 5rem; margin: .67rem 0; }
h2              { font-size: 2rem; margin: .75rem 0; }
h3              { font-size: 1.5rem; margin: .83rem 0; }
h4              { font-size: 1.125rem; margin: .83rem 0; }
h5              { font-size: 1rem; margin: 1.5rem 0; }
h6              { font-size: .83rem; margin: 1.67rem 0; }
p 				{ font-size: 1.125rem;}

a {color: #000000;}
a:hover{color:#807F83;}
/* a:focus{outline: none;} */

/* Spacings */

.center {text-align: center ;}
.right {text-align: right ;}

.mtb16 {margin: 1.1rem 0 ;}
.mb16 {margin-bottom: 1.1rem ;}

.mtb32 {margin: 2rem 0 ;}
.mb32 {margin-bottom: 2rem ;}

.mtb64 {margin-top: 4rem 0 ;}
.mt64 {margin-top: 4rem ;}
.mb64 {margin-bottom: 4rem ;}

.mt21f {margin-top: 21% ;}

ul {margin: 0 ;}
li {padding: 0.75rem 0; font-size:1.125rem;}

#me, #skills, #resume, #portfolio, #ios, #contact {padding: 0.9375rem 0.9375rem; margin: 2rem auto ;}

.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
}

/* Header and Menu */

.header h1, .header h2, .header h3, .header h4, .header h5, .header h6, .header p {color:#ffffff;}

.menu {
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 0 #fff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1.597s ease; 
	-moz-transition: all 1.597s ease; 
	-o-transition: all 1.597s ease; 
	transition: all 1.597s ease;
}

.black {
	-webkit-transition: all 1.597s ease; 
	-moz-transition: all 1.597s ease; 
	-o-transition: all 1.597s ease;
	background-color: rgba(41,41,43,0.85);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #303032), color-stop(1.0, rgba(41,41,43,0.85)));
	background: -moz-linear-gradient(top, #303032, rgba(41,41,43,0.85));
}

	.black.bs {
		box-shadow: 1px 1px 55px #000000;
	}

.bs {
	box-shadow: 1px 1px 55px #888888;
	opacity: 1;
	visibility: visible;
}

.menu a {
	color: #000000;
	margin: 0 ;
	font-size: 1.5rem;
	text-decoration: none;
}

	.menu a:hover {
		color: #807F83;
		opacity: 0.8;
	}

.black a {
	color: #ffffff;
}

.menu .bh1:hover {
	border-bottom: 2px solid #CC6699;
}

div.bh1.active {border-bottom: 2px solid #CC6699 ;}

#me {
	border-left: 3px solid #CC6699;
}

.menu .bh2:hover {
	border-bottom: 2px solid #33CCFF;
}

div.bh2.active {border-bottom: 2px solid #33CCFF ;}

#skills {
	border-left: 3px solid #33CCFF;
}

.menu .bh3:hover {
	border-bottom: 2px solid #DFCE3A;
}

div.bh3.active {border-bottom: 2px solid #DFCE3A ;}

#resume {
	border-left: 3px solid #DFCE3A;
}

.menu .bh4:hover {
	border-bottom: 2px solid #99CC66;
}

div.bh4.active {border-bottom: 2px solid #99CC66 ;}

#portfolio {
	border-left: 3px solid #99CC66;
}

.menu .bh5:hover {
	border-bottom: 2px solid #9999CC;
}

div.bh5.active {border-bottom: 2px solid #9999CC ;}

#ios {
	border-left: 3px solid #9999CC;
}

.menu .bh6:hover {
	border-bottom: 2px solid #FFAD6D;
}

div.bh6.active {border-bottom: 2px solid #FFAD6D ;}

#contact {
	border-left: 3px solid #FFAD6D;
}

.lh-m {
	line-height: 4rem ; 
	text-align: center;
	max-width: 160rem;
}

/* Mobile menu */

ul {
    list-style-type:none;
    overflow:hidden;
    padding: 0;
}

ul li a {
	text-decoration: none;
}

div.fixed.center.visible-xs {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: none;
}

/* Custom Divs */

#main {visibility: hidden; opacity:0; transition:opacity 1.597s; -webkit-transition: 1.597s opacity; 
	-moz-transition: 1.597s opacity; -webkit-transition: all 1.597s ease; -moz-transition: all 1.597s ease; 
	-o-transition: all 1.597s ease; transition: all 1.597s ease;}
#main.show {visibility: visible; opacity: 1;}

#me h2, #skills h2, #resume h2, #portfolio h2, #ios h2, #contact h2 {
	font-size: 2.5rem;
}

#me h3, #skills h3, #resume h3, #portfolio h3, #ios h3, #contact h3 {
	color: #807F83;
	font-size: 200%;
}

#tweets {
	display: block;
}

div.row.clients {
	/*background-color: #888888;*/
	background-color: #29292b;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #303032), color-stop(1.0, #29292b));
	background: -moz-linear-gradient(top, #303032, #29292b);
	padding: 1rem;
}

.modal-overlay {
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.95);
}

.modal-footer, .modal-header {
	color: #000;
}

.modal-close {
	color: #000;
}

.modal-direction {
	color: #000;
}

/* Button customization */

input.menuB{
	background: transparent;
	border: 1px solid transparent;
	width: 60px;
	height: 60px;
    margin: 0 auto;
	background-color: transparent;
}

	input.menuB:focus {
		outline:0;
	}

button.tweets{
	font-size: 1.25rem;
    margin: 0 auto;
    color: #ffffff;
	background-color: #000000;
}

	button.tweets:hover {
		background-color: #cdcdcd;
	}

button.submit {
	font-size: 1.25rem;
	background-color: #6bb933;
	border-color: #60a62e #519f18 #409701;
	color: #ffffff;
}

	button.submit:active {
		background-color: blue;
	}

/* Footer */

footer {
	-webkit-transition: all 1.597s ease; 
	-moz-transition: all 1.597s ease; 
	-o-transition: all 1.597s ease; 
	transition: all 1.597s ease;
	padding: 2rem 0 1rem;
	max-width: 160rem ;
}

footer .col-s-2 {	
	padding: 0 0 0.5rem;
}

footer  a {
	text-decoration: none;
	padding: 1.125rem 0;
	font-size: 1.125rem;
}

footer p {
	margin-top: 0;
}

/* Forms */

.contactForm {
	display: none;
}

#cname, #cemail, #ccomment {
	width: 95%;
}

#ccomment {
	min-height: 8rem;
}

.no-edit, input, select, textarea {
	color: #888;
}

p.success {
	color: #99CC66;
}

label.error {
	color:red;
}

/* Mix it up */

.controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

div.controls > label{
  display: inline-block;
  margin: 0 .4em 0 0;
}

div.controls > button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

div.controls > button.active{
  background: #68b8c4;
}

div.controls > button:focus{
  outline: 0 none;
}

div.controls > button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: transparent;
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  background: transparent;
  margin-bottom: 2%;
  display: none;
}

/*.container .mix.category-1{
  border-top: 2px solid limegreen;
}

.container .mix.category-2{
  border-top: 2px solid yellow;
}*/

.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}

/* Custom media queries*/

@media only screen and (max-width: 48em) { 
	p.simple, p.simplify, p.ksimple {
		font-size: 6rem ; 
		line-height: 5.5rem ;
	}
}

@media only screen and (max-width: 40.063em) { 
	h1 {font-size: 3.75rem;}
	#me, #skills, #resume, #portfolio, #ios, #contact {margin-top: 0.5rem ;padding: 0.9375rem 0.5rem;}
	p.simple {font-size: 4.5rem ; line-height: 4rem ; margin-top: 35%;}
	p.simplify, p.ksimple {font-size: 4.5rem ; line-height: 4rem ;}
	nav {display:none;}
}

/* ADA helpers */

[tabindex]:focus, a:focus, area:focus, button:focus, input:focus, object:focus, select:focus, textarea:focus {
	outline: none;
	outline-offset: -1px;
}