/* Custom styles */

/*Fonts and general styling*/

/* <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'> */
p.simple {font-size: 12rem; font-family: Arial, sans-serif; font-weight: 700; color: #807F83;line-height: 
	10rem;text-align: center; margin: 21% 0 7% 0;}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), 
  url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, 
  U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), 
  url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, 
  U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.row {max-width: 64rem; margin: 0 auto !important;}
body {font-family: 'Raleway', Arial, "Helvetica", Helvetica, sans-serif; font-weight: 400; text-rendering:
 optimizeLegibility;}
h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', Arial, "Helvetica", Helvetica, sans-serif; font-weight: 400;}
button, .button {font-family: 'Raleway', Arial, "Helvetica", Helvetica, sans-serif;}

h1              { font-size: 2.5rem; margin: .67rem 0; }
h2              { font-size: 2rem; margin: .75rem 0; }
h3              { font-size: 1.5rem; margin: .83rem 0; }
h4              { font-size: 1.125rem; margin: .83rem 0; }
h5              { font-size: 1rem; margin: 1.5rem 0; }
h6              { font-size: .83rem; margin: 1.67rem 0; }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder; }
p 				{ font-size: 1.125rem;}

a {color: #000000;}
a:hover{color:#807F83;}

/* Spacings */

.center {text-align: center !important;}
.right {text-align: right !important;}

.mtb16 {margin: 1.1rem 0 !important;}
.mb16 {margin-bottom: 1.1rem !important;}

.mtb32 {margin: 2rem 0 !important;}
.mb32 {margin-bottom: 2rem !important;}

.mtb64 {margin-top: 4rem 0 !important;}
.mt64 {margin-top: 4rem !important;}
.mb64 {margin-bottom: 4rem !important;}

.mt21f {margin-top: 21% !important;}

ul {margin: 0 !important;}
li {padding: 0.75rem 0; font-size:1.125rem;}

#me, #skills, #resume, #portfolio, #ios, #contact {padding: 0.9375rem 0.9375rem; margin: 2rem auto !important;}

.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
}

/* Header and Menu */

.header h1, .header h2, .header h3, .header h4, .header h5, .header h6, .header p {color:#ffffff;}

#main {visibility: hidden; opacity:0; transition:opacity 1.597s; -webkit-transition: 1.597s opacity; -moz-transition: 1.597s opacity;
-webkit-transition: all 1.597s ease; -moz-transition: all 1.597s ease; -o-transition: all 1.597s ease; transition: all 1.597s ease;}
#main.show {visibility: visible; opacity: 1;}

.menu {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 0 #fff;
	opacity: 0;
	transition:box-shadow 1.597s;
	-webkit-transition: 1.597s box-shadow;
	-moz-transition: 1.597s box-shadow;
	-webkit-transition: all 1.597s ease; 
	-moz-transition: all 1.597s ease; 
	-o-transition: all 1.597s ease; 
	transition: all 1.597s ease;
}

.bs {
	box-shadow: 1px 1px 55px #888888;
	opacity: 1;
}

.menu a {
	color: #000000 !important;
	margin: 0 !important;
	font-size: 1.5rem;
	text-decoration: none;
}

	.menu a:hover {
		color: #807F83 !important;
		opacity: 0.8;
	}

.menu .bh1:hover {
	border-bottom: 2px solid #CC6699;
}

div.bh1.active {border-bottom: 2px solid #CC6699 !important;}

#me {
	border-left: 3px solid #CC6699;
}

.menu .bh2:hover {
	border-bottom: 2px solid #33CCFF;
}

div.bh2.active {border-bottom: 2px solid #33CCFF !important;}

#skills {
	border-left: 3px solid #33CCFF;
}

.menu .bh3:hover {
	border-bottom: 2px solid #DFCE3A;
}

div.bh3.active {border-bottom: 2px solid #DFCE3A !important;}

#resume {
	border-left: 3px solid #DFCE3A;
}

.menu .bh4:hover {
	border-bottom: 2px solid #99CC66;
}

div.bh4.active {border-bottom: 2px solid #99CC66 !important;}

#portfolio {
	border-left: 3px solid #99CC66;
}

.menu .bh5:hover {
	border-bottom: 2px solid #9999CC;
}

div.bh5.active {border-bottom: 2px solid #9999CC !important;}

#ios {
	border-left: 3px solid #9999CC;
}

.menu .bh6:hover {
	border-bottom: 2px solid #FFAD6D;
}

div.bh6.active {border-bottom: 2px solid #FFAD6D !important;}

#contact {
	border-left: 3px solid #FFAD6D;
}

.lh-m {line-height: 4rem !important; text-align: center;}

@media only screen and (max-width: 48em) { 
	p.simple {font-size: 6rem !important; line-height: 5.5rem !important;}
}

@media only screen and (max-width: 40.063em) { 
	#me, #skills, #resume, #portfolio, #ios, #contact {margin-top: 1.5rem !important;}
	p.simple {font-size: 4.5rem !important; line-height: 4rem !important;margin-top: 25%;}
	nav {display:none;}
}

/* Mobile menu */

ul {
    list-style-type:none;
    overflow:hidden;
    padding: 0;
}

ul li a {
	text-decoration: none;
}

div.fixed.center.visible-xs {background: rgba(255, 255, 255, 0.85);}

/* Cusom Divs */

#main {visibility: hidden; opacity:0; transition:opacity 1.597s; -webkit-transition: 1.597s opacity; -moz-transition: 1.597s opacity;
-webkit-transition: all 1.597s ease; -moz-transition: all 1.597s ease; -o-transition: all 1.597s ease; transition: all 1.597s ease;}
#main.show {visibility: visible; opacity: 1;}

#me h3, #skills h3, #resume h3, #portfolio h3, #ios h3, #contact h3 {color: #807F83;}

.modal-overlay {
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.95);
}

.modal-lock>body, .modal-on {
	/*filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: url(img/blur.svg);*/

}

.modal-footer, .modal-header {
	color: #000;
}

.modal-close {
	color: #000;
}

.modal-direction {
	color: #000;
}

/* Button customization */

button:focus {outline:0;}

.menuB{
	font-size: 1.25rem !important;
    margin: 0 auto;
    color: #ffffff !important;
	background-color: #000000 !important;
}