/* Custom styles */

@import 'colors';
@import 'fonts';

html, button, input, select, textarea {
  font-family: sans-serif;
  font-family: $font-stack;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: $font-stack;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-weight: 300;
  padding-left: 0.5rem;
}

p {
  font-family: $font-stack;
  font-weight: 300;
}

/* Overlay style */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color5-a;
  z-index: 3;
  .overlay-close {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
  }
  nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
    li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 3.375rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      a {
        font: {
            family: $font-stack;
            size: 3.375rem;
            weight: 100;
          }
        display: block;
        letter-spacing: 0.3125rem;
        color: $main-color-2;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        &:hover, &:focus {
          color: $main-color-6;
        }
      }
    }
  }
}

/* Overlay closing cross */

/* Menu style */

/* Effects */

.overlay-corner {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50px) translateX(50px);
  transform: translateY(-50px) translateX(50px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
  &.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
  }
}

/* Foundation Customization*/

.row {
  max-width: 200rem;
}

/* Spacings and alignments */

.text-right {
  text-align: right;
}

/* Custom divs */

#intro, #about, #skills, #experience, #contact {
  min-height: 100vh;
}

#intro h2, #about h2, #skills h2, #experience h2 {
  position: relative;
  color: $main-color-2;
}

#home {
  position: fixed;
  background-color: $main-color-4;
  z-index: 2;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  p {
    font-size: 2.75rem;
    margin-bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  h1, p {
    color: $main-color-2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #trigger-overlay {
    cursor: pointer;
  }
}

header#home.scrolling {
    background-color: $main-color-7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  h1{
    font-size: 1.75rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  p {
    font-size: 1.75rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.texture-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../img/grid.png');
}

.hero {
  background: #E8E0DA url('../img/violet-hero-desktop-xlarge.jpg') no-repeat center center;
  background-size: cover;
}

blockquote {
  font-size: 2rem;
  border-left: none;
  margin: 0;
  p {
    font-size: 2rem;
    border-left: none;
  }
  &:before {
    color: $main-color-1;
    content: "\201C";
    display: inline-block;
    font-family: $font-stack;
    font-size: 4rem;
    vertical-align: middle;
  }
  &:after {
    color: $main-color-1;
    content: "\201D";
    display: inline-block;
    font-family: $font-stack;
    font-size: 4rem;
    vertical-align: middle;
  }
}

.ux-quote {
  blockquote {
    text-align: center;
  }
  p {
    text-align: right;
  }
}

#intro .me {
  position: absolute;
  top: 68%;
  left: 4%;
}

.me {
  h2 {
    color: $main-color-2;
  }
  button {
    background-color: $main-color-2;
    color: $color5;
    border: 2px solid $main-color-2;
    margin-right: 3rem;
    font-size: 1.125rem;
    &:hover {
      background-color: transparent;
      color: $main-color-2;
      border: 2px solid $color5;
    }
  }
}

#about {
  background-color: rgb(40, 43, 42);
  .formation {
    background: #FEFEFE url('../img/muestra.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  }
}

#skills {
  position: relative;
  background: #E8E0DA url('../img/duis.jpg') no-repeat center center fixed;
  background-size: cover;
}

#experience {
  position: relative;
  background: #FEFEFE url('../img/violet-hero.jpg') no-repeat center center;
  background-size: cover;
  .clients {}
}

#contact {
  background-color: #fefefe;
}

/* No Captcha recaptcha */

button.success {
  display: none;
}

/* Contact form styles */

input {
  &[type="text"], &[type="email"] {
    background-color: #404040;
    opacity: 0.3;
    font-size: 1.25rem;
    padding: 1rem;
    width: 100%;
    -webkit-appearance: none;
    margin: 0.3125rem 0;
    border: none;
    border-radius: 0;
    transition: all .3s ease-in-out;
    outline: 0;
  }
}

textarea[type="text"] {
  background-color: #404040;
  opacity: 0.3;
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
  margin: 0.3125rem 0;
  border: none;
  border-radius: 0;
  transition: all .3s ease-in-out;
  outline: 0;
  min-height: 8rem;
}

input {
  &[type="text"]:focus, &[type="email"]:focus {
    opacity: 1;
    border: none;
    outline: 0;
    background-color: #fefefe;
  }
}

textarea[type="text"]:focus {
  opacity: 1;
  border: none;
  outline: 0;
  background-color: #fefefe;
}

[data-abide] {
  .error {
    small.error, span.error {
      font-size: 1rem;
      font-style: italic;
      background: #FFCCCC;
      color: $primary-color-1;
    }
  }
  span.error, small.error {
    font-size: 1rem;
    font-style: italic;
    background: #FFCCCC;
    color: $primary-color-1;
  }
}

.error label {
  color: $primary-color-1;
  &.error {
    color: $primary-color-1;
  }
}

p.success {
  font-size: 1.5rem;
  color: $color1;
  padding: 1rem;
}

footer {
  section p:last-child {
    text-align: center;
  }
  padding-bottom: 0.5rem;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  p {
    margin-bottom:0;
  }
}

/* Share styles */

.share {
  margin-bottom: 0.5rem;
  height: auto;
  margin: 0 auto;
  -webkit-filter: url("#goo");
  filter: url("../index.html#goo");
}

.share-button, .share-toggle-button {
  background-color: $color5 !important;
  padding: 0;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  margin-left: -2.5rem;
  margin-top: -2.5rem;
  background: #cccccc;
  text-align: center;
  color: $main-color-2;
  border: none;
  outline: none;
}

.share-button:hover, .share-toggle-button:hover {
  color: $main-color-2;
}

.share-button {
  font-size: 2rem;
  background: #737070;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #222222;
}

a.share-button {
  background-color: $color1 !important;
  color: $main-color-2;
  &:hover, &:focus {
    color: #dfd7d7;
  }
}

.share-toggle-button {
  z-index: 9;
  background: #666666;
  font-size: 1.75rem;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-item {
  display: inline-block;
}

@import 'media-queries';