/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xD_0YkshJ_UyXEU-Q7eV4G5_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2'), url(fonts/Open_Sans_Condensed.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xMmDra0ONnO3FPH--kzkC5zr7w4p9aSvGirXi6XmeXNA.woff2) format('woff2'), url(fonts/Open_Sans_Condensed.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTSYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2'), url(fonts/Open_Sans_300.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(fonts/Open_Sans_300.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(fonts/Open_Sans_400.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(fonts/Open_Sans_400.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Basic layout styling */

body {
	background-color: rgb(255,255,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased; 
	text-rendering: optimizeLegibility;
}

	body a {
		color: rgb(67,172,106);
	}

	aside a {
		font-family: 'Open Sans Condensed', sans-serif;
		font-style: normal;
		-webkit-font-smoothing: antialiased; 
		text-rendering: optimizeLegibility;
		/*color: rgb(21,166,116);*/
		color: rgb(67,172,106);
	}

a:hover{
	color: rgb(0,0,0);
}

	a:focus {
		color: rgb(255,255,255);
	}

#wrapper {
	background-color: rgba(53,53,53,1);
	padding: 1.5rem;
}

section#home, section#edu, section#skills, section#exp, section#contact {
	min-height: 100vh;
}

#home {
	padding: 0 1rem;
}

aside {
	top: 0;
	bottom: 0;
	position: fixed !important;
	right: 0;
	padding: 0 !important;
	background-color: rgba(255,255,255,0.1);
}

	aside > div {
		height: 20%;
		border-bottom: solid 1px black;
		position: relative;
	}

		aside > div > a {
			display: block;
			text-align: right;
			font-size: 2rem;
			font-weight: 300;
			color: rgb(255,255,255);
			height: 100%;
			width: 100%;
			padding-top: 12.5%;	
		}

			aside > div > a:focus {
			color: rgba(255,255,255);
		}

div.home:hover{
	background-color: #334D5C;
}

aside > div.home.active {
	background-color: #334D5C;
}

div.edu:hover {
	background-color: #45B29D;
}

aside > div.edu.active {
	background-color: #45B29D;
}

div.skills:hover {
	background-color: #EFC94C;
}

aside > div.skills.active {
	background-color: #EFC94C;
}

div.exp:hover {
	background-color: #E27A3F;
}

aside > div.exp.active {
	background-color: #E27A3F;
}

div.contact:hover {
	background-color: #DF5A49;
}

aside > div.contact.active {
	background-color: #DF5A49;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed' sans-serif;
}

.intro {
	margin-top: 2rem;
	padding: 7%;	
}

	.intro h1 { 
		font-family: 'Open Sans', sans-serif; 
		font-weight: 300; 
		font-style: normal;
		font-size: 8rem; 
		color: rgb(255,255,255);
		-webkit-font-smoothing: antialiased; 
	}

	.intro h2 {
		display: none;
	}

h2.title {
	color: rgb(217,217,217);
	font-size: 4rem;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 300; 
	font-style: normal;
	-webkit-font-smoothing: antialiased; 
	text-rendering: optimizeLegibility;
}

footer {
	font-family: 'Open Sans' sans-serif; 
	font-weight: 300; 
	font-style: normal;
	-webkit-font-smoothing: antialiased; 
	text-rendering: optimizeLegibility;
}

.row {
	max-width: 186.25rem;
	padding: 0 1rem;
}

nav {
	z-index: 999;
    width:100%; 
}
	
	nav a {
		font-family: 'Open Sans Condensed', sans-serif; 
		font-weight: 300; 
		font-style: normal;
		-webkit-font-smoothing: antialiased; 
		text-rendering: optimizeLegibility;
		font-size: 1.25rem;
		color: rgb(0,0,0);
	}

	nav > div {
		margin: 1.25rem 0;
	}

nav.row {
	padding: 0;
}

.content {
	background-color: rgb(242,242,242);
	color: rgb(0,0,0);
}

textarea {
	min-height: 8rem;
}

footer {
	padding-top: 1rem;
	background-color: rgba(102,102,102,0.4);
	color: rgb(255,255,255);
}

#edu, #skills, #exp, #contact{
	color: rgb(0,0,0);
	padding: 0 1rem;
}

#edu h2, #skills h2, #exp h2, #contact h2 {
	color: rgb(125,125,125);
}

	#edu h2.title, #skills h2.title, #exp h2.title, #contact h2.title {
		color: rgb(255,255,255);
	}

#edu p {
	font-size: 1.25rem;
}

ul {
	list-style-type: square;
	margin-bottom: 0;
}

	ul li {
		font-size: 1.25rem;
	}

#skills ul {
	padding: 2rem 1rem;
}

#exp ul {
	padding: 1rem;
}

#exp div.row > div.row  {
	border-top: solid 1px rgb(125,125,125);
	padding-top: 1rem;
}

	#exp div.row > div.row:first-child  {
		border-top: none;
		padding-top: 0;
	}

label {
	font-size: 1rem;
	color:rgb(125,125,125);
}

input[type="text"],  
input[type="email"],  
textarea {
	margin: 0.5rem 0 1rem 0 !important;
}

/* Spacings and elemnts ordering */

.pt8 {
	padding-top: 0.5rem;
}

.ptb8 {
	padding: 0.5rem 0;
}

.pt12 {
	padding: 0.75rem 0 0;
}

.pb16 {
	padding-bottom: 1rem;
}

.prl16 {
	padding: 0 1rem;
}

.pt32 {
	padding-top: 2rem;
}

.center {
	text-align: center;
}

div.menu.center {
	z-index: 999;
	position: fixed; 
    top:0%;
    width:100%; 
}

input.menuB {
	margin: 0 auto;
	height: 2.5rem;
	width: 2.5rem;
}

#edu .row.collapse, #skills .row.collapse, #exp .row.collapse, #contact .row.collapse {
	padding: 1rem 0.25rem;
}

/* Coloring and other stuff */

.sw {
	position: absolute;
	top: 5%;
	left: 0;
}

.download-container {
	position: absolute;
	bottom: 5%;
	left: 0;
}

.download {
	background-color: transparent;
	border: 1px solid white;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 300; 
	font-style: normal;
	-webkit-font-smoothing: antialiased; 
	text-rendering: optimizeLegibility;
}

	.download:hover, .download:focus {
		background-color: #334D5C;
	}

.last-title {
	border-top: solid 1px rgb(125,125,125);
	padding-top: 1rem;
}

/* No Captcha recaptcha */

button.success {
	display: none;
}

/* Contact form styles */

p.success {
	font-size: 1.5rem;
	color: #43AC6A;
} 

/* Custom media queries */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
	
	.intro {
		padding: 0 0.5rem;
	}

	.intro h1 {
		font-size: 5rem;
	}

	.intro h2 {
		font-size: 2.5rem;
	}

	nav a {
		font-size: 1.125rem;
	}

	nav > div {
		margin: 1.5rem 0;
	}

}

@media only screen and (min-width: 40.125em) and (max-width: 64em) { 

	.intro {
		top: 50%;
		width: 60%;
		height: 30%;
		padding: 0 0.5rem;
	}

	.intro h1 {
		font-size: 3rem;
	}

	.intro h2 {
		font-size: 1.5rem;
	}

	nav a {
		font-size: 1.125rem;
	}

	nav > div {
		margin: 1.5rem 0;
	}

}

@media only screen and (width: 48em) {

	.intro {
		top: 40%;
		width: 60%;
		height: 50%;
		padding: 0 0.5rem;
	}

	.intro h1 {
		font-size: 3rem;
	}

	.intro h2 {
		font-size: 1.5rem;
	}

	nav {
		height: 4rem;
	}
	
	nav a {
		font-size: 1rem;
	}

	nav > div {
		margin: 1.125rem 0;
	}

	#home {
		margin-top: 4rem;
	}

}

@media only screen and (max-width: 40.063em) { 
	
	ul li {
			font-size: 1rem;
		}

	#exp ul {
		padding: 0;
	}

	.download {
		font-size: 1.25rem;
	}
	
	#edu, #skills, #exp {
		padding: 0 0.5rem ;
	}

	#contact {
		padding: 0;
	}

		#contact h2.title{
			padding: 0 0.5rem;
		}
	
	#home {
		margin-top: 0;
	}

	video {
		visibility: hidden;
	}

	#wrapper {
		margin-top: 0;
		padding: 0;
	}

	nav {
		background-color: rgba(255,255,255,0.95);
	}
	
	.intro {
		padding: 0 0.5rem;
		text-align: left;
		margin-top: 25%;
		height: 14rem;
	}

		.intro h1 {
			font-size: 3rem;
		}

		.intro h2.title {
			font-size: 1.5rem;
		}

			.intro h2.title:last-child{
				padding-top: 2rem;
			} 

	h2.title {
		font-size: 2.5rem;
	}

	nav > div {
		margin: 1rem 0;
	}

	nav {
		display: none;	
	}

	.row {
		padding: 0;
	}

	.row.pt32{
		padding-top:1.5rem;
	}
}