/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://fonts.gstatic.com/s/dosis/v4/VK-RlLrn4NFhRGqPkj6IwBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://fonts.gstatic.com/s/dosis/v4/RPKDmaFi75RJkvjWaDDb0nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(fonts/Dosis.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(fonts/Lato.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('YanoneKaffeesatz-ExtraLight'), url(http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRbvQMs1fw8fEQY4hjSRsy20U24FapfJwyacJ6xNu5rm9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('YanoneKaffeesatz-ExtraLight'), url(http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRYuLSQHnHW2U4NkxJ--PfJX3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2'), url(fonts/Yanone_Kaffeesatz.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Basic layout styling */

body {
	background-color: rgb(255,255,255);
	font-family: 'Lato', sans-serif;
}

	body a {
		color: rgb(21,166,116);
	}

a:hover{
	color: rgb(21,166,116);
}

	a:focus {
		color: rgb(255,255,255);
	}

#wrapper {
	background-color: rgba(53,53,53,1);
	padding: 1.5rem;
}

section#home {
	height: 100vh;
}

#home {
	padding: 0 1rem;
}

aside {
	top: 0;
	bottom: 0;
	position: fixed !important;
	right: 0;
	padding: 0 !important;
	background-color: rgba(255,255,255,0.1);
}

	aside > div {
		height: 20%;
		padding-top: 76px;
		border-bottom: solid 1px black;
	}

		aside > div > a {
			color: rgb(255,255,255);
			font-size: 2rem;
			font-weight: 300;
		}

aside > div.home.active {
	background-color: rgba(183,183,183,1);
}

aside > div.edu.active {
	background-color: rgb(152,207,178);
}

aside > div.skills.active {
	background-color: rgb(251,207,160);
}

aside > div.exp.active {
	background-color: rgb(154,208,255);
}

aside > div.contact.active {
	background-color: rgb(194,50,45);
}

.intro {
	background-color: rgba(0,0,0,0.1);
	border: solid 2px rgba(0,0,0,0.1);
	margin-top: 2rem;
	padding: 9%;	
}

	.intro h1 { 
		font-family: 'Yanone Kaffeesatz', sans-serif; 
		font-weight: normal; 
		font-style: normal;
		font-size: 10rem; 
		text-align: center;
		color: rgb(255,255,255);
	}

h2.title {
	color: rgb(217,217,217);
	font-size: 4rem;
	font-family: 'Dosis', sans-serif; 
	font-weight: normal; 
	font-style: normal; 
}

.row {
	max-width: 186.25rem;
	padding: 0 1rem;
}

nav {
	z-index: 999;
    width:100%; 
}
	
	nav a {
		font-size: 1.5rem;
		color: rgb(0,0,0);
	}

	nav > div {
		margin: 1.25rem 0;
	}

nav.row {
	padding: 0;
}

.content {
	background-color: rgb(242,242,242);
}

textarea {
	min-height: 8rem;
}

footer {
	padding-top: 1rem;
	background-color: rgba(102,102,102,0.4);
	color: rgb(255,255,255);
}

#edu, #skills, #exp, #contact{
	color: rgb(0,0,0);
	padding: 4rem;
	margin-top: 1rem;
}

#edu h2, #skills h2, #exp h2, #contact h2 {
	color: rgb(125,125,125);
}

	#edu h2.title, #skills h2.title, #exp h2.title, #contact h2.title {
		color: rgb(255,255,255);
	}

/* Spacings and elemnts ordering */

.pt8 {
	padding-top: 0.5rem;
}

.ptb8 {
	padding: 0.5rem 0;
}

.pt12 {
	padding: 0.75rem 0 0;
}

.prl16 {
	padding: 0 1rem;
}

.center {
	text-align: center;
}

div.menu.center {
	z-index: 999;
	position: fixed; 
    top:0%;
    width:100%; 
}

input.menuB {
	margin: 0 auto;
	height: 2.5rem;
	width: 2.5rem;
}

#edu .row.collapse, #skills .row.collapse, #exp .row.collapse, #contact .row.collapse {
	padding: 1rem 0;
}

/* Coloring and other stuff */

.last-title {
	border-top: solid 1px rgb(125,125,125);
}

/* No Captcha recaptcha */

button.success {
	display: none;
}

/* Contact form styles */

p.success {
	font-size: 1.5rem;
	color: #43AC6A;
} 

/* Custom media queries */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
	
	.intro {
		top: 45%;
		width: 60%;
		height: 50%;
		background-color: rgba(0,0,0,0.5);
		padding: 0 0.5rem;
	}

	.intro h1 {
		font-size: 5rem;
	}

	.intro h2 {
		font-size: 2.5rem;
	}

	nav a {
		font-size: 1.125rem;
	}

	nav > div {
		margin: 1.5rem 0;
	}

}

@media only screen and (min-width: 40.125em) and (max-width: 64em) { 

	.intro {
		top: 50%;
		width: 60%;
		height: 30%;
		background-color: rgba(0,0,0,0.5);
		padding: 0 0.5rem;
	}

	.intro h1 {
		font-size: 3rem;
	}

	.intro h2 {
		font-size: 1.5rem;
	}

	nav a {
		font-size: 1.125rem;
	}

	nav > div {
		margin: 1.5rem 0;
	}

}



@media only screen and (width: 48em) {

	.intro {
		top: 40%;
		width: 60%;
		height: 50%;
		background-color: rgba(0,0,0,0.5);
		padding: 0 0.5rem;
	}

	.intro h1 {
		font-size: 3rem;
	}

	.intro h2 {
		font-size: 1.5rem;
	}

	nav {
		height: 4rem;
	}
	
	nav a {
		font-size: 1rem;
	}

	nav > div {
		margin: 1.125rem 0;
	}

	#home {
		margin-top: 4rem;
	}

}

@media only screen and (max-width: 40.063em) { 

	#edu, #skills, #exp, #contact {
		padding: 0;
	}
	
	#home {
		margin-top: 0;
	}

	video {
		visibility: hidden;
	}

	#wrapper {
		margin-top: 0;
		padding: 0;
	}

	div.menu.center {
		background-color: rgba(255,255,255,0.85);
	}
	
	.intro {
		background-color: rgba(0,0,0,0.5);
		padding: 0 0.5rem;
		text-align: left;
		margin-top: 25%;
	}

	.intro h1 {
		font-size: 3rem;
	}

	.intro h2.title {
		font-size: 2rem;
	} 

	h2.title {
		font-size: 2.5rem;
	}

	nav a {
		font-size: 1.125rem;
	}

	nav > div {
		margin: 1rem 0;
	}

	nav {
		display: none;	
	}

	.row {
		padding: 0;
	}
}