@charset "utf-8";
/* CSS Document */

.nav-numbers {
	width:180px;
}

.widget-recent-posts ul li.icon-tasks {
	display:inline-block;
}
.ico {
	display:none;
}
.portfolio-container li:hover .ico {
	display:block;
}