@charset "utf-8";
/* CSS Document */

.boxed .fulwidth .site-content, .boxed .fulwidth .footer-widgets, .boxed .fulwidth .footer-info, .boxed .fulwidth .main-menu-container, .boxed .fulwidth .top-strip, .boxed .fulwidth .banner1, .boxed .wrapper .featured-box-white .container, .boxed .wrapper .page-title-bg .container, .boxed .fulwidth .site-content, .boxed .fulwidth .main-cnt .banner {
	width:95.9%;
}
.widget-recent-posts ul li.icon-tasks {
	font-size:inherit;
}
span.wlast{
	color:#be3939;
}
.portfolio-column2 .portfolio-container li {
	height:360px;
}
.widget-testimonial ul , .widget-testimonial blockquote {
	background-color:#1a1a1a;
}
.social-media li img:first-child, .footer-info a.logo img:first-child {
	display:none;
}
.social-media li:hover img:first-child, .footer-info a.logo:hover img:first-child {
	display:block;
}
#fmslideshow div div div div {
	width:100% !important;
	margin:0 !important;
}
.ico{
	display:none;
}
.portfolio-container li:hover .ico {
	display:block;
}