@charset "utf-8";
/* CSS Document */
a{
	color:#959595;
}
/* Header
================================================== */
.custom-skin.top-strip , .da-thumbs li article {
	background-color:#6b6b6b;
}
#header #searchform fieldset {
	background-color: #959595;	
}
#header #searchform input[type="text"] {
	border-right:1px solid #959595;
}
#header .logo a {
	background-image:url(images/logo.png);
}
/* #ddsmoothmenu
================================================== */
#submenuArrow {
	border-bottom: 4px solid #6b6b6b;
}
.arrow-up {
	background: url(images/arrowUp.png) no-repeat left top;
}
.ddsmoothmenu ul#main-menu li ul li a:hover , .ddsmoothmenu ul#main-menu li ul li a.selected, .ddsmoothmenu ul#main-menu li ul li a.current{
	background: #6b6b6b;
}
.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a.current {
	color:#959595 !important;
}
.main-menu-container .tinynav {
	background-color:#6b6b6b;
	background-image:url(images/selection-menu.jpg);
	border:1px solid #1e1e1e;
}
.tinynav option{
	background-color:#626161;
}
/* Banner
================================================== */
.ls-content {
	background:#797979;
	border-top:5px solid #959595;
}
.ls-content h2:before {
	border-color:#959595 transparent transparent;
}
/* #Button
================================================== */
.theme-btn {
	background-color:#959595;
	border-bottom:4px solid #7e7e7e;
	text-shadow:1px 1px 0px #404040; /* Extra */
}
.theme-btn:hover, .theme-btn.active {
	background-color:#807f7f;
	border-bottom:4px solid #727171;
}
.large.theme-btn {
	background-image:url(images/gray-btn.jpg);
	background-repeat:repeat-x;
}
.large.theme-btn:hover {
	background-image:url(images/gray-btn-hover.jpg);
}
/* Heading
================================================== */
h2.strip-title span.strip-inner, h3.strip-title span.strip-inner {
	border-top:3px solid #6b6b6b;
}
.widget-area h3.widget-title span:last-child , .strip-title span.strip-inner span.wlast , span.wlast{
	color:#000000;
}
.widget-area h3.widget-title, .site-content h3.widget-title , h2.strip-title, h3.strip-title {
	color:#959595;
}
/* Blog
================================================== */
.blog-post .post-date {
	background:url(images/post-date-bg.png) no-repeat;
}
.blog-post .post-date span {
	color: #959595;
}
.nav-below span {
	color:#983b67;
}
a.read-more-lnk{
	color:#796064;
}
/* Footer
================================================== */
.footer-widgets .widget-title {
	color:#6b6b6b;
	text-shadow:-1px -1px 1px #000101; /* Extra */
}
blockquote .theme-bg.icon-quote-left , #footer .widget-tag-cloud a:hover{
	background-color:#6b6b6b;
}
.gray-footer:hover, .footer-widgets .widget-recent-posts .post-item a img:hover {
	border:3px solid #6b6b6b;
}
#tweetbox li{
	color:#6b6b6b;
}
.footer-info a.logo {
	background-image:url(images/footer-logo.png);
}
/* Portfolio
================================================== */
.da-thumbs li:hover article:before {
	border-color:#4e4e4e transparent transparent;
}
.ico a:hover {
	background-color:#4e4e4e;
}
.widget-area a:hover , .widget-area a:hover span , .blog-post h2 a:hover , .blog-post .post-meta a:hover , .blog-post .post-meta a:hover .gray{
	color:#959595 !important;
}
.da-thumbs li article {
	background-image:url(../../skins/grey/images/image_hover.jpg);
}
.da-thumbs li article span a:hover {
	color:#111111;
}
.da-thumbs li article h5 {
	color:#111111;
}
#pcycle-controls a.activeSlide , #pcycle-controls a:hover  {
	background-color:#6b6b6b;
}
/* Colored Box
================================================== */
.theme-featured-box , .theme-colored-box{
	background-color:#6d6d6d;
}
.theme-colored-box blockquote, .theme-colored-box {
	color:#fff;
}
/* Iconbox
================================================== */
.iconbox-bg{
	border:5px solid #6b6b6b;
}
.iconbox-bg:hover {
	border:5px solid #959595;
}
.special-features .one-half:hover .iconbox .black{
	color:#959595;
}
/* Border img
================================================== */
.gray-border:hover {
	border:5px solid #6b6b6b;
}
.social-icon-big li a.icon-facebook:hover , .social-icon-big li a.icon-twitter:hover ,.social-icon-big li a.icon-linkedin:hover , ul.social-icon-small li a.icon-facebook:hover , ul.social-icon-small li a.icon-twitter:hover ,ul.social-icon-small li a.icon-linkedin:hover{
	border-bottom:1px solid #959595;
}
.single-border:hover, .two.team-members .one-fourth a span:hover  {
	background-color:#6b6b6b;
}
.gray-border-medium:hover {
	border:3px solid #6b6b6b;
}
.gray-border-small:hover {
	border:1px solid #6b6b6b;
}
.theme-border {
	border:5px solid #6b6b6b;
}
.theme-border:hover {
	border:5px solid #959595;	
}
.theme-border-medium  {
	border:3px solid #6b6b6b;
}
.theme-border-medium:hover {
	border:3px solid #959595;
}
/* 404
================================================== */
.error-page span {
	color:#959595;
}
/* shortcode
================================================== */
ul.tabs-frame li a.current:before, ul.tabs-frame li a:hover:before {
	border-top:3px solid #e58311;
}