/* Custom styles */

/* Custom fonts */

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(http://fonts.gstatic.com/s/nunito/v7/1TiHc9yag0wq3lDO9cw0vpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url(http://fonts.gstatic.com/s/nunito/v7/6TbRXKWJjpj6V2v_WyRbMevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito-Bold'), url(http://fonts.gstatic.com/s/nunito/v7/TttUCfJ272GBgSKaOaD7KpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, button, input, select, textarea {
    font-family: sans-serif;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Nunito', sans-serif;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,76,99,0.9);
	z-index: 3;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-corner {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-50px) translateX(50px);
	transform: translateY(-50px) translateX(50px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.overlay-corner.open {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

/* Foundation Customization*/

.row {
	max-width: 200rem;
}

/* Spacings and alignments */

.text-right {
	text-align: right;
}

/* Custom divs */

#home {
	position: fixed;
	background-color: rgba(0,0,0,0.45);
	z-index: 2;
}

	#home p {
		font-size: 2.75rem;
		margin-bottom: 0;
	}

	#home h1, #home p {
		color: #ffffff;
		padding-left: 0.5rem;
	}

#intro, #about, #skills, #experience, #contact {
	height: 100vh;
}

.texture-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../img/grid.png');
}

.hero {
    background: #E8E0DA url('../img/ux2.jpg') no-repeat center center;
    background-size: cover;
}

#intro .me {
	position: absolute;
	top: 50%;
	left: 4%;
}

.me h2 {
	color: #ffffff;
}

.me button {
	background-color: #ffffff;
	color: rgb(255,76,99);
	border: 2px solid #ffffff;
	margin-right: 3rem;
}

	.me button:hover {
		background-color: transparent;
		color: #ffffff;
		border: 2px solid rgb(255,76,99);
	}

#skills {
	background: #E8E0DA url('../img/shine.png') no-repeat center center fixed;
    background-size: cover;
}

#experience {
	background-color: #FEFEFE;
}

#contact {
	background-color: #FEFEFE;
}

@media only screen and (max-width: 47.9375em) {
	#home h1, #home p{
		font-size: 1.125rem;
	}

	#home h1 {
		padding-top: 0.5rem;
	}
} 

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}